
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    color: #ad3c3c;
    background-image: url('https://img2.rtve.es/v/6864365?w=1600&preview=1681890137650.jpg');
    background-size: cover;
}

header {
    text-align: center;
    padding: 1em 0;
    background: linear-gradient(90deg, #b73940e0, #85c63a);
}

header h1 {
    font-size: 2em;
    color: #52041a;
    margin-bottom: 0.5em;
}

header nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #8d3333;
}

header nav a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}


.main-content {
    flex: 3;
    background-color: #ffffff;
    padding: 1em;
    border: 1px solid #681a1a;
    border-radius: 8px;
    
}

article {
    margin-bottom: 1.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

article h2 {
    font-size: 1.5em;
    color: #80435d;
    margin-left: 1em;
}


article h3 {
    margin-left: 1em;
    font-size: 1.2em;
    color: #a02259;
    margin-top: 1em;
}

article p{
    margin-left: 1em;
}
article img {
    max-width: 100%;
    margin: 0.5em 0;
    margin-left: 1em;
}

article .caption {
    font-size: 0.9em;
    color: #b05050;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

article .comments {
    font-size: 0.9em;
    text-align: right;
    color: #a74343;
    margin-right: 1em;
}
aside {
    flex: 1;
    background-color: #fbf3f3;
    padding: 1em;
    border: 1px solid #8e4747;
    margin-left: 1em;
    border-radius: 8px;
}

aside div {
    margin-bottom: 1.5em;
}

aside h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

aside img {
    max-width: 100%;
    height: auto;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 8px;
}

aside a {
    color: #600c30;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    background-color: #fff;
    padding: 1em 0;
    border-top: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0.5em 0;
    color:#db9999
}

footer a {
    color: #fffeff;
    text-decoration: none;
}
.imagen-articulo{
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
nav{
    background-color: #dfd1d1;
    padding: 2px;
}
li {
    display:inline;
    margin-right: 15px;    
}
.logo-container{
    display:inline-block;

}
.logo{
    width: 50px;
    height: auto;
}
